.App {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f9;
}

h1 {
  text-align: center;
  color: #333;
}

.request-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.request-form h2 {
  margin-bottom: 15px;
  color: #007BFF;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button-container {
  text-align: center;
}

.button-container button,
.file-upload-label {
  display: inline-block;
  margin: 10px;
}

button,
.file-upload-label {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

button:hover,
.file-upload-label:hover {
  background-color: #0056b3;
}

.request-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.request-item {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.request-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  color: #007BFF;
}

.request-header:hover {
  text-decoration: underline;
}

.request-details {
  margin-top: 10px;
  color: #555;
}

.edit-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #218838;
}
